/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Ephesis', cursive;
}

/* Header */

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  margin: 0;
  background-color: #e2c2b3;
}

header img{
  height: 100px;
  width: 200px;
}
header a{
  text-decoration: none;
  color: #403234;
}
header a:hover{
  color: #f7f3f5;
}
nav{
  width: 70%;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}
a.currentPage {
  color: #f7f3f5;
}

/* le footer */

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #e2c2b3;
  bottom: 0;
  width: 100%; 
  height: 150px;
}

#socialink{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logosocial{
  width: 40px;
  height: 40px;
  margin: 20px;
}
#cgu a{
text-decoration: none;
color: #403234;
font-size: 1.5em;
}
/**
 * Render the `main` element consistently in IE.
 */

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#photoPrincipale figure{
  margin: 0;
  position: relative;
}
.légende{
  position:absolute ;
  bottom: 20px; right: 50px;
}

#photoPrincipale img{
  width: 100%;
  height: 800px;
}
#presentation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5% 15%;
}
article{
  width: 30%;
}

aside figure{
  position: relative;
}
#photodemoi{
  height: 500px;
}
#realisations div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25%;
}
#realisations figure{
  margin: 0;
  padding:10px;
}

#realisations{ 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background-color: #f7f3f5;
}
#realisationsTitle{
  height: 80px;
  width: 100%;
  text-align: center;
  background-color: #f7f3f5;
  margin: 0;
  line-height: 80px;
}
#realisations img{
  max-width: 100%;
}

/** CSS DE LA PAGE DES GALERIES */

#galeries h1 a.galselect{
  font-size: 1.3em;
  color: #e2c2b3;
}
/* galerie grossesse*/
#galeries{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#753f38 ;
}
#galeries h1{
  text-align: center; 
  box-shadow: 0px 5px 5px #753f38;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}
#galeries h1 a{
  text-decoration: none;
  color: #403234;
  font-size: 00.75em;

}
#galeries h1 a:hover{
  color: #e2c2b3;
}
h2 {
  text-decoration: underline solid;
  text-underline-position: under;
}
#galeries p{
  color: #403234;
}

figure{
  margin: 0;
}
.galgrossesse img{
  max-width: 90%;
  box-shadow:2px 5px 5px #403234;
}
#galerieGrossesse{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 40px;
}
.galgrossesse{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 30px; 
  align-items: center; 
  grid-auto-rows: 300px;
}
.item:nth-of-type(1n), .item:nth-of-type(2n) {
  grid-row: span 2;
}

/* galerie nouveau-né */
#galerieNouveaune{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 40px;
}
.galnouveaune{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px; 
  align-items: center; 
  grid-auto-rows: 300px;
}
.galnouveaune img{
  max-width: 90%;
  box-shadow:2px 5px 5px #403234;
}
.item:nth-of-type(1n){
  grid-row: span 2;
}

/* galeriebébé */
#galerieBebe{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 40px;
}
.galbebe{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 40px; 
  align-items: center; 
  grid-auto-rows: 300px;
}
.galbebe img{
  max-width: 90%;
  box-shadow:2px 5px 5px #403234;
}
.item:nth-of-type(1n){
  grid-row: span 2;
}

/* CSS de la page des tarifs */
#tarifs{
  margin: 40px 0;
}
#tarifs article{
  margin: 0;
  width: 100%;
}
#troistarifs{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;  
}
#troistarifs div{
  margin : 0px 10px;
}
#troistarifs figure{
  margin: 0px 10px;
}
#troistarifs img{
  max-width: 450px;
  max-height: 300px;
  padding: 10px;
  background-color: #000;
}
#troistarifs p{
  max-width: 450px;
  max-height: 300px;
}

#premiertarif, #secondtarif, #troisiemetarif{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 80%;
  padding: 20px 0px;
}

/* CSS de la page aboutme */
#surmoi{
  background-color: #f7f3f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding: 40px 200px;
}
#surmoi h1{
  box-shadow: 0px 5px 5px #753f38;
  padding: 0px 20px;
}
#enfants, #studio{
  max-width: 450px;
  max-height: 300px;
  padding: 10px;
  background-color: #fff;
  float: right;
  margin-left: 10px;
}
#moi{
  max-width: 300px;
  max-height: 450px;
  padding: 10px;
  background-color: #fff;
  float: left;
  margin-right: 10px;
}

/* CSS de la page me contacter*/
#mecontacter{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #f7f3f5;
  padding-top: 20px;
  padding-bottom: 40px;
}
#mecontacter h1{
  box-shadow: 0px 5px 5px rgb(102, 101, 101);
  padding:0px 20px;
}

#formulaire{
  min-width: 450px;
  width: 50%;
  background: #fff;
  padding: 2%;
  border-radius: 00.5rem;
  box-shadow: 5px 5px 5px #000;
}
label{
  display: flex;
  align-items: center;
  margin-bottom:0.5rem;
  padding-top: 10px;
}
.form{
  width: 100%;
  height: 2.5em;
  border-radius: 00.5rem;
  border-width: thin;
  padding-left: 10px;
}
#submit{
  margin-top: 20px;
  padding: 10px 30px;
  background: #e2c2b3;
  border-radius: 00.5rem;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

